* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #47416247;
}

.centered {
    align-items: center;
}



.banner {
    background-color: rgb(255, 255, 255);
    width: 50%;
    height:100%;
    margin-bottom: 0px;
    align-self: center;
}

.text {
    color:rgb(131, 47, 139);
    font-size:xx-large;
    text-align: left;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px;
    padding: 10px;
}