* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #52144b30;
}

.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    max-width: 100%;
    width: 1000px;
}

.button {
    display: block;
    cursor: pointer;
    background-color: #00000030;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    text-decoration: none;
    transition: background-color .2s;
}

.button:hover {
    background-color: #00000050;
}

.button img {
    height: 1em;
    transition: transform .2s;
}

.collapsed {
    /* We rotate the > symbol to \/ when the user clicks "more info" */
    transform: rotate(-90deg);
}


a {
    text-decoration: none;
    color: #52144b;
}

.pixelated {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

.hidden {
    display: none;
}